<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <label>Actions</label>
  <div>
    <button (click)="year = year-1">&lt;&lt; Prev year:{{year-1}}</button>
    <button (click)="changeMonthLocale()">change month locale</button>
    <button (click)="changeDayLocale()">change day locale</button>
    <button (click)="year = year+1">Next year:{{year+1}}&gt;&gt;</button>
  </div>

  <ng-fullyearcalendar-lib (onDaySelect)="onDaySelect($event)"  [year]="year"></ng-fullyearcalendar-lib>
  selcted day: {{selectedDate | date}}

</div>


